/* h1 {
                font-size: 50px;
            } */

body {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	overflow-x: hidden;
	background-color: #E9E3E6;
}

#container {
	width: 90%;
	margin: 15px;
	padding: 8px;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	/* box-shadow: 2px 2px 2px 2px #E9E3E6; */
	background-color: white;
}

/* These are the first rules to be read and have the least priority */





#heading {
	/* border: 3px solid green;
	border-radius: 25px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 50px;
	padding-bottom: 75px; */
	margin: auto;
	width: 85%;
	height: auto;
}

.blueBackground {
	background-color: blue !important;
}


img {
	width: clamp(300px, 75vw, 600px);
	height: auto;
	margin: auto;
}

section {
	width: 100%;
	align-items: center;
	justify-content: center;
}
