/* h1 {
                font-size: 50px;
            } */

body {
	font-family: 'Roboto', sans-serif;
}

main {
	width: 100%;
}

/* These are the first rules to be read and have the least priority */

.blueBackground {
	background-color: yellow;
}

#heading {
	border: 3px solid green;
	border-radius: 25px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 50px;
	padding-bottom: 75px;
	margin: auto;
	width: 85%;
	height: auto;
}

.blueBackground {
	background-color: blue !important;
}
#phasesHeading {
	font-size: 50px;
	background-color: #333;
}

img {
	width: clamp(300px, 80vw, 600px);
	height: auto;
	margin: auto;
}

section {
	width: 100%;
	align-items: center;
	justify-content: center;
}
