/* h1 {
                font-size: 50px;
            } */

body {
	font-family: 'Roboto', sans-serif;
}

.blueBackground {
	background-color: blue !important;
}
#phasesHeading {
	font-size: 50px;
	background-color: #333;
}

img {
	width: clamp(300px, 80vw, 600px);
	height: auto;
	margin: auto;
}

section {
	width: 100%;
	align-items: center;
	justify-content: center;
}
